.cont{
    border: 0.8px solid black;
    border-radius: 25px;
    width: 400px;
    justify-content: space-between;
    height: 30px;
    background-color: #F6F6F6;
    color: black;
    padding: 12px;
    margin-left: 300px;
}