.profile-container{
  display: flex;

  align-items: center;
  justify-content: center;
  width:1000px;
  height: 500px;
  background-color: yellow;
  float: right;
  margin-right: 70px;

}
.image-container{
  
  width: 30%;
  background-color: aqua;
  
  height: 100%;
}
.profile-info{
  width: 70%;
  background-color: rgb(190, 197, 197);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-container img{
  height: 170px;
  width: 170px;
  border-radius: 50%;
  justify-content: center;  
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
 
}
.image-container h1{
  color:black;
  font-family: 'poppins';
  font-size: 30px;
  text-align: center;
  margin-top: 60px;

}

.perso{
  display: inline-block;
    
    padding: 0px 25px 0px 8px;
    vertical-align: middle;
    height: 150px;
}

.scholar{
  display: inline-block;
    
    padding: 0px 25px 0px 8px;
    vertical-align: middle;
    height: 150px;

}
.info-general h2{
  font-size: 13px;
  
}
h3{
  color: black;
  font-size: 15px;
  
}