/* use the poppins font*/ 
 body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
  width: fit-content;
  block-size: fit-content;
}

.homeContainer{
   display: flex; 
   margin-left: 400px;
  
   flex: 2;
   
   height: 100px;
   
   

   

  
}
hr{
  height:0;
  border: 0.5px solid lightgray;
  width :1090px;
  margin-left: 280px;}


.home{
  
  height: 100%;
 
}
