@import url('https://fonts.googleapis.com/css2?family=Poppins:display=swap');

.db{
    display: flex;
    width: 100%;
}
.dbContainer{
    flex: 6;
}
hr{
    height:0;
    border: 0.5px solid lightgray;
    width :1135px;
   margin-left: 280px;
  
  }
h2{
      font-size: 27px;
      color: #28445B;
      margin-left: 280px;
      margin-top: -10px;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      white-space: nowrap;
    
  }

  .FilterButton{
    padding: 2px 5px;
    border-radius: 8px;
    background-color: rgb(230, 230, 230);
    border: 1px solid rgba(230, 230, 230);
    cursor: pointer;
    height: 26px;
    width: 80px;
    color: #9F9999;
    
    display: flex;
    font-size: 16px;
    
    font-weight: 400;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    
}
.sortButton{
    padding: 2px 5px;
    border-radius: 8px;
    background-color: rgb(230, 230, 230);
    border: 1px solid rgba(230, 230, 230);
    cursor: pointer;
    height:26px;
    width: 80px;
    color: #9F9999;
    display: flex;
    font-size: 16px;
    vertical-align: middle;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    
    
    
    
    
    
}

.FilterButton svg{
    
    margin-right: 5px;
    vertical-align: middle;
    /* margin-top: 4px; */
    
}
.sortButton svg{
    margin-right: 4px;
    vertical-align: middle;

    
}
.buttons{
 
    vertical-align: middle;
    margin-left: 700px;
    display: flex;
    margin-top: -8px;

    
    
    
}
.dbtitle{
    height: 70px;
    width: 1300px;
  
    display: flex;
    justify-content: space-between;
    
   
    
    
}
.empty{
    width: 4px;
    height: auto;
    display: inline-block;
}
.dbnavigation {
   margin-left: 60px;
   width: 80%;
   margin-top: -55px;
}